/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
}

body {
  background-color: rgba(242, 242, 242, 0.9490196078);
}

.main-nav {
  display: flex;
  justify-content: space-between;
  margin: 4rem 0 14rem 0;
  width: 80%;
  padding: 0 10%;
}
.main-nav__nav-list {
  display: flex;
  align-items: center;
  gap: 5rem;
}
.main-nav__nav-list a {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.2rem;
  text-decoration: none;
  color: #13253A;
}
.main-nav__nav-list a:hover {
  text-decoration: underline;
}

.main-banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  padding: 0 10% 18.87rem 10%;
}
.main-banner__title {
  font-size: 4.6rem;
  font-weight: 700;
  line-height: 6.3rem;
  color: #13253A;
  margin-bottom: 1rem;
}
.main-banner__subtitle {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.2rem;
  color: #2557ab;
  margin-bottom: 0.5rem;
}
.main-banner__text {
  width: 33%;
}
.main-banner__desc {
  font-size: 1.6rem;
  line-height: 2.7rem;
  color: #13253A;
  margin-bottom: 2rem;
}
.main-banner__button {
  width: 33.6rem;
  height: 6rem;
  font-weight: 600;
  font-size: 1.7rem;
  line-height: 2.3rem;
  text-align: center;
  color: #FFFFFF;
  border: none;
  background-color: #FF7F57;
}

.services {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  padding: 12rem 0 10rem 0;
  background-color: #FFFFFF;
}
.services__title {
  font-size: 3.8rem;
  line-height: 5.2rem;
  font-weight: 400;
  color: #13253A;
  text-align: center;
  margin-bottom: 3rem;
}
.services__ul {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
}
.services__ul h3 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.7rem;
  color: #3B4D6C;
  text-align: center;
  margin: 2rem 0 0.5rem 0;
}
.services__ul p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.7rem;
  color: #13253A;
  text-align: center;
}
.services__ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 37rem;
}
.services__ul li img {
  width: 6.4rem;
}

.stats__li {
  display: flex;
  gap: 15rem;
  margin: 6rem 0;
  justify-content: space-evenly;
}
.stats__li li :first-child {
  font-weight: 400;
  font-size: 4.6rem;
  line-height: 6.3rem;
  color: #13253A;
}
.stats__li li :first-child span {
  color: #FF7F57 !important;
}

.about {
  background-color: #FFFFFF;
  display: flex;
  padding: 10rem 23rem;
  flex-direction: column;
  align-items: center;
  border-bottom: 0.05rem solid #DCE2E6;
}
.about__content {
  display: flex;
  width: 95rem;
  gap: 3rem;
  margin-bottom: 6rem;
}
.about__content section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.about__content h3 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 3rem;
  font-style: italic;
  color: #13253A;
  mix-blend-mode: normal;
  opacity: 0.5;
}
.about__content p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.7rem;
  color: #13253A;
  mix-blend-mode: normal;
  opacity: 0.5;
}
.about__logos {
  gap: 7rem;
  display: flex;
}
.about__title {
  font-weight: 700;
  line-height: 5.2rem;
  font-size: 3.8rem;
  color: #13253A;
  margin-bottom: 3rem;
}

.info {
  background: #FFFFFF;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10rem 0;
  justify-content: space-around;
}
.info__text {
  width: 47rem;
}
.info__title {
  font-weight: 700;
  font-size: 38px;
  line-height: 52px;
  color: #13253A;
}
.info__desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #13253A;
  mix-blend-mode: normal;
  opacity: 0.9;
  margin: 2rem 0;
}
.info__list :nth-child(2) {
  margin: 1.2rem 0;
}
.info__list img {
  width: 1.6rem;
  height: 1.6rem;
  margin-right: 1.2rem;
}
.info__list li {
  font-weight: 500;
  font-size: 15px;
  line-height: 27px;
  color: #13253A;
}

.get-started {
  background-color: #FF7F57;
  height: 43.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.get-started h5 {
  color: #FFFFFF;
}
.get-started__title {
  font-weight: 700;
  font-size: 4.6rem;
  line-height: 6.3rem;
  text-align: center;
  color: #F4F6F7;
  margin: 0.5rem 0 1rem 0;
}
.get-started__info {
  font-weight: 400;
  width: 77rem;
  font-size: 1.5rem;
  line-height: 2.7rem;
  text-align: center;
  color: #FFFFFF;
}
.get-started__btn {
  font-weight: 600;
  font-size: 1.7rem;
  line-height: 2.3rem;
  text-align: center;
  color: #FFFFFF;
  width: 33.6rem;
  height: 6rem;
  background-color: #2557AB;
  border: none;
  box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.3);
  margin: 2rem 0 0rem 0;
}

.contact {
  background-color: #11364E;
  display: flex;
  flex-direction: column;
  padding-bottom: 14rem;
  padding-top: 14rem;
}
.contact ::placeholder {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.2rem;
  color: #FFFFFF;
  opacity: 0.2;
}
.contact form {
  display: flex;
  flex-direction: column;
  margin: auto;
}
.contact form input[type=text], .contact form input[type=email], .contact form textarea {
  color: #FFFFFF;
  font-size: 1.6rem;
  border: none;
  border-bottom: 0.2rem solid #FFFFFF;
  background-color: #11364E;
  width: 37rem;
  height: 5.6rem;
  margin-bottom: 4rem;
  opacity: 0.25;
}
.contact form input[type=text]::placeholder, .contact form input[type=email]::placeholder, .contact form textarea::placeholder {
  opacity: 0.5;
}
.contact form label {
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 1.8rem;
  color: #FFFFFF;
}
.contact__title {
  font-weight: 400;
  font-size: 3.8rem;
  line-height: 5.2rem;
  text-align: center;
  color: #FFFFFF;
  padding-bottom: 3rem;
}
.contact__button {
  border: none;
  width: 37rem;
  height: 6rem;
  background: #FF7F57;
  font-weight: 600;
  font-size: 1.7rem;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;
}

.copyrights {
  text-align: bottom;
  background: #13253A;
}
.copyrights__txt {
  padding: 1rem 0;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1rem;
  color: #FFFFFF;
  opacity: 0.8;
}

/*# sourceMappingURL=index.css.map */
